@font-face {
  font-family: 'Intro';
  src: url("fonts/intro-webfont.eot");
  src: url("fonts/intro-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/intro-webfont.svg#intro_regular") format("svg"), url("fonts/intro-webfont.ttf") format("truetype"), url("fonts/intro-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url("fonts/OpenSans-CondBold-webfont.eot");
  src: url("fonts/OpenSans-CondBold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-CondBold-webfont.woff") format("woff"), url("fonts/OpenSans-CondBold-webfont.svg#open_sans_condensedbold") format("svg"), url("fonts/OpenSans-CondBold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 17, ../sass/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../sass/partials/_reset.scss */
body {
  line-height: 1;
}

/* line 33, ../sass/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 36, ../sass/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 48, ../sass/partials/_reset.scss */
button {
  background-color: transparent;
  border: 0;
  outline: 0;
  margin: 0px;
  padding: 0px;
}

/* line 4, ../sass/partials/_general.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 7, ../sass/partials/_general.scss */
body {
  background: #131313 url('../img/pat/header-pat.png?1395827085');
}

/* line 4, ../sass/partials/_typography.scss */
html {
  font-size: 62.5%;
}

/* line 7, ../sass/partials/_typography.scss */
body {
  font-size: 16px;
  font-size: 1.6rem;
  color: #131313;
}

/* line 13, ../sass/partials/_typography.scss */
.main_header {
  color: #f8f8f8;
}

/* line 16, ../sass/partials/_typography.scss */
.main_heading {
  font-size: 42px;
  font-size: 4.2rem;
  font-family: "Intro", "Arial", sans-serif;
  text-transform: capitalize;
}
/* line 20, ../sass/partials/_typography.scss */
.main_heading h1 {
  font-size: 98px;
  font-size: 9.8rem;
}

/* line 24, ../sass/partials/_typography.scss */
.hello {
  font-size: 72px;
  font-size: 7.2rem;
}

/* line 27, ../sass/partials/_typography.scss */
.punctuation {
  font-size: 72px;
  font-size: 7.2rem;
  color: #c44c7c;
}

/* line 36, ../sass/partials/_typography.scss */
.type_of_work h2 {
  font-family: "Intro", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 32px;
  font-size: 3.2rem;
  color: #f8f8f8;
  text-shadow: 0px 0px 0px;
}

/* line 8, ../sass/partials/_layout.scss */
.main_header, .head_container {
  width: 100%;
  height: 100%;
}

/* line 11, ../sass/partials/_layout.scss */
.main_header {
  display: table;
}

/* line 14, ../sass/partials/_layout.scss */
.head_container {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 5% 1% 0% 1%;
}

/* line 21, ../sass/partials/_layout.scss */
.main-logo {
  margin-bottom: 48px;
  margin-bottom: 4.8rem;
  display: inline-block;
}

/* line 26, ../sass/partials/_layout.scss */
.main_heading h1 {
  padding-top: 24px;
  padding-top: 2.4rem;
  padding-bottom: 80px;
  padding-bottom: 8rem;
}

/* line 31, ../sass/partials/_layout.scss */
.profession {
  padding-bottom: 34px;
  padding-bottom: 3.4rem;
  display: inline-block;
}

/* line 35, ../sass/partials/_layout.scss */
.work_btn {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -10px;
}

/* line 45, ../sass/partials/_layout.scss */
.main_content {
  width: 100%;
  background-color: #f8f8f8;
}

/* line 50, ../sass/partials/_layout.scss */
.type_of_work {
  text-align: center;
}

/* line 53, ../sass/partials/_layout.scss */
.type_of_work h2 {
  padding: 20px 0px 20px 0px;
  background-color: #c44c7c;
}
