@font-face {
  font-family: 'Intro';
  src: url("fonts/intro-webfont.eot");
  src: url("fonts/intro-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/intro-webfont.svg#intro_regular") format("svg"), url("fonts/intro-webfont.ttf") format("truetype"), url("fonts/intro-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url("fonts/OpenSans-CondBold-webfont.eot");
  src: url("fonts/OpenSans-CondBold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-CondBold-webfont.svg#open_sans_condensedbold") format("svg"), url("fonts/OpenSans-CondBold-webfont.ttf") format("truetype"), url("fonts/OpenSans-CondBold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("fonts/OpenSans-Regular-webfont.eot");
  src: url("fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-Regular-webfont.svg#open_sansregular") format("svg"), url("fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("fonts/OpenSans-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("fonts/OpenSans-Light-webfont.eot");
  src: url("fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-Light-webfont.svg#open_sanslight") format("svg"), url("fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("fonts/OpenSans-Light-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 17, ../sass/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../sass/partials/_reset.scss */
body {
  line-height: 1;
}

/* line 33, ../sass/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 36, ../sass/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 48, ../sass/partials/_reset.scss */
button {
  background-color: transparent;
  border: 0;
  outline: 0;
  margin: 0px;
  padding: 0px;
}

/* line 4, ../sass/partials/_general.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 21, ../sass/partials/_mixins.scss */
html ::-moz-selection {
  color: #fff;
  background: #c44c7c;
}
/* line 22, ../sass/partials/_mixins.scss */
html ::selection {
  color: #fff;
  background: #c44c7c;
}

/* line 13, ../sass/partials/_general.scss */
body {
  background: #1c1c1c url('../img/pat/header-pat.png?1401185819');
}

/* line 4, ../sass/partials/_typography.scss */
html {
  font-size: 62.5%;
}

/* line 7, ../sass/partials/_typography.scss */
body {
  font-size: 16px;
  font-size: 1.6rem;
  color: #1c1c1c;
}

/* line 13, ../sass/partials/_typography.scss */
.main_header {
  color: #f8f8f8;
}

/* line 16, ../sass/partials/_typography.scss */
.main_heading {
  font-size: 42px;
  font-size: 4.2rem;
  font-family: "Intro", "Arial", sans-serif;
  text-transform: capitalize;
}
/* line 20, ../sass/partials/_typography.scss */
.main_heading h1 {
  font-size: 98px;
  font-size: 9.8rem;
}

/* line 24, ../sass/partials/_typography.scss */
.hello {
  font-size: 72px;
  font-size: 7.2rem;
}

/* line 27, ../sass/partials/_typography.scss */
.punctuation {
  font-size: 72px;
  font-size: 7.2rem;
  color: #c44c7c;
}

/* line 33, ../sass/partials/_typography.scss */
.web_link {
  color: #f8f8f8;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 1px;
  line-height: 37px;
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 42, ../sass/partials/_typography.scss */
.type_of_work h2, .type_of_work h3 {
  font-family: "Intro", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 32px;
  font-size: 3.2rem;
  letter-spacing: -1px;
  color: #f8f8f8;
  text-shadow: 0px 0px 0px;
}

/* line 51, ../sass/partials/_typography.scss */
.logo_container h3, .bottom_divider h3 {
  font-family: "Open Sans Condensed" , sans-serif;
  font-size: 20px;
  font-size: 2rem;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #f8f8f8;
}

/* line 58, ../sass/partials/_typography.scss */
.bottom_divider h3 {
  line-height: 71px;
}

/* line 63, ../sass/partials/_typography.scss */
.main_footer {
  color: #f8f8f8;
}

/* line 67, ../sass/partials/_typography.scss */
.footer_section h2 {
  font-size: 32px;
  font-size: 3.2rem;
  font-family: "Intro", "Arial", sans-serif;
}

/* line 73, ../sass/partials/_typography.scss */
.footer_about p {
  opacity: 0.6;
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  line-height: 34px;
  text-align: justify;
  text-justify: inter-word;
  font-weight: normal;
}

/* line 83, ../sass/partials/_typography.scss */
.skill_list {
  text-align: left;
  padding: 0px 6% 0px 6%;
}
/* line 86, ../sass/partials/_typography.scss */
.skill_list li {
  line-height: 48px;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "Intro", "Arial", sans-serif;
}

/* line 92, ../sass/partials/_typography.scss */
.current_skills {
  margin-bottom: 35px;
}

/* line 8, ../sass/partials/_layout.scss */
.main_header, .head_container {
  width: 100%;
  height: 100%;
}

/* line 11, ../sass/partials/_layout.scss */
.main_header {
  display: table;
}

/* line 14, ../sass/partials/_layout.scss */
.head_container {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 5% 1% 0% 1%;
}

/* line 21, ../sass/partials/_layout.scss */
.main-logo {
  margin-bottom: 48px;
  margin-bottom: 4.8rem;
  display: inline-block;
}

/* line 26, ../sass/partials/_layout.scss */
.main_heading h1 {
  padding-top: 24px;
  padding-top: 2.4rem;
  padding-bottom: 80px;
  padding-bottom: 8rem;
}

/* line 31, ../sass/partials/_layout.scss */
.profession {
  padding-bottom: 34px;
  padding-bottom: 3.4rem;
  display: inline-block;
}

/* line 35, ../sass/partials/_layout.scss */
.work_btn {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -10px;
  display: none;
}

/* line 46, ../sass/partials/_layout.scss */
.main_content {
  width: 100%;
  background-color: #f8f8f8;
}

/* line 51, ../sass/partials/_layout.scss */
.type_of_work {
  text-align: center;
}

/* line 54, ../sass/partials/_layout.scss */
.type_of_work h2 {
  padding: 20px 0px 20px 0px;
  background-color: #c44c7c;
  /* transition */
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* line 62, ../sass/partials/_layout.scss */
.work_container {
  padding: 60px 0px 120px 0px;
}

/* line 65, ../sass/partials/_layout.scss */
.desktop_slider {
  width: 741px;
  height: 466px;
  padding: 33px 33px 149px 33px;
  margin: 0 auto;
  background: transparent url('../img/desktop.png?1401185819') no-repeat center center;
  position: relative;
}

/* line 75, ../sass/partials/_layout.scss */
.slide_links {
  width: 741px;
  height: 40px;
  position: absolute;
  background-color: #000;
  opacity: 0.46;
  top: 33px;
  z-index: 2;
}

/* line 84, ../sass/partials/_layout.scss */
.web_link {
  position: relative;
  display: inline-block;
  position: absolute;
  height: 40px;
  width: 100%;
  top: 0;
  right: 0;
  opacity: 0.5;
  z-index: 1;
  vertical-align: middle;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 96, ../sass/partials/_layout.scss */
.web_link span {
  height: 100%;
  display: block;
  -webkit-transition: all 0.35s ease-out;
  -moz-transition: all 0.35s ease-out;
  -ms-transition: all 0.35s ease-out;
  -o-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}
/* line 101, ../sass/partials/_layout.scss */
.web_link img {
  position: absolute;
  right: 0;
  top: 4px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 107, ../sass/partials/_layout.scss */
.web_link:hover {
  opacity: 1;
}
/* line 109, ../sass/partials/_layout.scss */
.web_link:hover img {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg) translate3d(0, 0, 0);
  /* Opera, Chrome, and Safari */
}

/* line 115, ../sass/partials/_layout.scss */
.webTitlefadeIn {
  margin-left: 0px;
  opacity: 1;
}

/* line 119, ../sass/partials/_layout.scss */
.webTitlefadeOut {
  margin-left: 20%;
  opacity: 0;
}

/* line 123, ../sass/partials/_layout.scss */
.slick_slider {
  width: 100%;
  height: 100%;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
/* line 127, ../sass/partials/_layout.scss */
.slick_slider div {
  width: 100%;
  height: 100%;
  display: none;
}
/* line 132, ../sass/partials/_layout.scss */
.slick_slider div:first-child {
  display: block;
}

/* line 137, ../sass/partials/_layout.scss */
.slick-list.dragging {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

/* line 141, ../sass/partials/_layout.scss */
.web_container button.slick-prev, .web_container button.slick-next {
  height: 100%;
  width: 30px;
  top: 10px;
}
/* line 145, ../sass/partials/_layout.scss */
.web_container button.slick-prev:before, .web_container button.slick-next:before {
  content: '';
  display: block;
  -webkit-transition: border-color 0.1s ease;
  -moz-transition: border-color 0.1s ease;
  -ms-transition: border-color 0.1s ease;
  -o-transition: border-color 0.1s ease;
  transition: border-color 0.1s ease;
}

/* line 152, ../sass/partials/_layout.scss */
.web_container button.slick-prev:before {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid white;
  margin-right: 20px;
}
/* line 157, ../sass/partials/_layout.scss */
.web_container button.slick-prev:hover:before {
  border-right: 6px solid #c44c7c;
}

/* line 163, ../sass/partials/_layout.scss */
.web_container button.slick-next:before {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid white;
  margin-left: 20px;
}
/* line 168, ../sass/partials/_layout.scss */
.web_container button.slick-next:hover:before {
  border-left: 6px solid #c44c7c;
}

/* line 174, ../sass/partials/_layout.scss */
.desktop_slider .slick-dots {
  bottom: -210px;
}

/* line 179, ../sass/partials/_layout.scss */
.pad, .phone {
  position: absolute;
  bottom: -15px;
  overflow: hidden;
}
/* line 183, ../sass/partials/_layout.scss */
.pad img, .phone img {
  vertical-align: bottom;
}

/* line 187, ../sass/partials/_layout.scss */
.phone {
  width: 154px;
  height: 236px;
  padding: 30px 13px 29px 13px;
  background: transparent url('../img/phone.png?1401185819') no-repeat;
  left: -40px;
}

/* line 194, ../sass/partials/_layout.scss */
.pad {
  width: 401px;
  height: 295px;
  padding: 31px 31px 31px 30px;
  background: transparent url('../img/pad.png?1401185819') no-repeat;
  right: -60px;
}

/* line 207, ../sass/partials/_layout.scss */
.logo_slider {
  width: 753px;
  height: 379px;
  margin: 0 auto;
}
/* line 212, ../sass/partials/_layout.scss */
.logo_slider .slick_slider {
  background-color: #fff;
  margin-bottom: 0px;
}
/* line 215, ../sass/partials/_layout.scss */
.logo_slider .slick_slider div {
  text-align: center;
  padding-top: 20px;
}
/* line 218, ../sass/partials/_layout.scss */
.logo_slider .slick_slider div img {
  display: inline-block;
  vertical-align: middle;
}

/* line 225, ../sass/partials/_layout.scss */
.logo_container button.slick-prev, .logo_container button.slick-next {
  height: 100%;
  width: 30px;
  top: 10px;
}
/* line 229, ../sass/partials/_layout.scss */
.logo_container button.slick-prev:before, .logo_container button.slick-next:before {
  content: '';
  display: block;
  -webkit-transition: border-color 0.1s ease;
  -moz-transition: border-color 0.1s ease;
  -ms-transition: border-color 0.1s ease;
  -o-transition: border-color 0.1s ease;
  transition: border-color 0.1s ease;
}

/* line 236, ../sass/partials/_layout.scss */
.logo_container button.slick-prev:before {
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-right: 18px solid #1c1c1c;
  margin-right: 6px;
}
/* line 241, ../sass/partials/_layout.scss */
.logo_container button.slick-prev:hover:before {
  border-right: 18px solid #c44c7c;
}

/* line 247, ../sass/partials/_layout.scss */
.logo_container button.slick-next:before {
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 18px solid #1c1c1c;
  margin-left: 6px;
}
/* line 252, ../sass/partials/_layout.scss */
.logo_container button.slick-next:hover:before {
  border-left: 18px solid #c44c7c;
}

/* line 258, ../sass/partials/_layout.scss */
.logo_slider .slick-dots {
  height: 60px;
  background-color: red;
  position: absolute;
  width: 100%;
  bottom: -60px;
}

/* line 265, ../sass/partials/_layout.scss */
.logo_container h3 {
  position: relative;
  padding: 30px 0px 30px 0px;
  background-color: #1c1c1c;
}
/* line 269, ../sass/partials/_layout.scss */
.logo_container h3 span {
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 2;
}
/* line 275, ../sass/partials/_layout.scss */
.logo_container h3 div {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: absolute;
  top: 0;
  content: "";
  display: block;
  background-color: #c44c7c;
  height: 100%;
  width: 0%;
}

/* line 290, ../sass/partials/_layout.scss */
.graphic_container {
  padding: 0;
  width: 100%;
}

/* line 294, ../sass/partials/_layout.scss */
.graphic_slider {
  width: 100%;
  height: 700px;
  margin: 0 auto;
}
/* line 298, ../sass/partials/_layout.scss */
.graphic_slider .slick_slider {
  overflow: hidden;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
/* line 302, ../sass/partials/_layout.scss */
.graphic_slider .slick_slider div {
  position: relative;
  text-align: center;
  padding: 0px 0px 0px 0px;
}
/* line 306, ../sass/partials/_layout.scss */
.graphic_slider .slick_slider div img {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 600px;
  margin: auto;
}

/* line 316, ../sass/partials/_layout.scss */
.graphic_slider button.slick-prev, .graphic_slider button.slick-next {
  height: 100%;
  width: 50px;
  top: 10px;
  background-color: #1c1c1c;
}
/* line 321, ../sass/partials/_layout.scss */
.graphic_slider button.slick-prev:before, .graphic_slider button.slick-next:before {
  content: '';
  display: block;
  opacity: 1;
  -webkit-transition: border-color 0.1s ease;
  -moz-transition: border-color 0.1s ease;
  -ms-transition: border-color 0.1s ease;
  -o-transition: border-color 0.1s ease;
  transition: border-color 0.1s ease;
}

/* line 328, ../sass/partials/_layout.scss */
.graphic_slider button.slick-prev {
  left: 0px;
}
/* line 330, ../sass/partials/_layout.scss */
.graphic_slider button.slick-prev:before {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #f8f8f8;
  margin-right: 22px;
}
/* line 335, ../sass/partials/_layout.scss */
.graphic_slider button.slick-prev:hover:before {
  border-right: 10px solid #c44c7c;
}

/* line 340, ../sass/partials/_layout.scss */
.graphic_slider button.slick-next {
  right: 0px;
}
/* line 342, ../sass/partials/_layout.scss */
.graphic_slider button.slick-next:before {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #f8f8f8;
  margin-left: 22px;
}
/* line 347, ../sass/partials/_layout.scss */
.graphic_slider button.slick-next:hover:before {
  border-left: 10px solid #c44c7c;
}

/* line 353, ../sass/partials/_layout.scss */
.bottom_divider {
  position: relative;
  height: 70px;
  background-color: #c44c7c;
  text-align: center;
}
/* line 359, ../sass/partials/_layout.scss */
.bottom_divider div {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100%;
  width: 0%;
  background-color: #1c1c1c;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 369, ../sass/partials/_layout.scss */
.bottom_divider h3 {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100%;
}

/* line 381, ../sass/partials/_layout.scss */
.main_footer {
  height: 100%;
  width: 100%;
  display: table;
}

/* line 386, ../sass/partials/_layout.scss */
.footer_container {
  display: table-cell;
  vertical-align: middle;
}

/* line 390, ../sass/partials/_layout.scss */
.footer_wrap {
  max-width: 1280px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  vertical-align: top;
}

/* line 397, ../sass/partials/_layout.scss */
.footer_section {
  display: inline-block;
  vertical-align: top;
  width: 31.21951%;
}
/* line 401, ../sass/partials/_layout.scss */
.footer_section h2 {
  margin-bottom: 20px;
}

/* line 407, ../sass/partials/_layout.scss */
.footer_about p {
  margin-top: 20px;
}
/* line 410, ../sass/partials/_layout.scss */
.footer_about .first_p {
  margin-top: 0px;
}
/* line 413, ../sass/partials/_layout.scss */
.footer_about .avatar {
  margin-bottom: 20px;
}

/* line 418, ../sass/partials/_layout.scss */
.footer_skills {
  margin: 0 1.953125% 0 1.953125%;
}

/* line 421, ../sass/partials/_layout.scss */
.skill_list {
  width: 100%;
}
/* line 423, ../sass/partials/_layout.scss */
.skill_list li {
  display: inline-block;
  padding-left: 40px;
  margin: 0 5% 0 5%;
  text-align: left;
}

/* line 432, ../sass/partials/_layout.scss */
.ps {
  background: transparent url('../img/skills/ps.png?1401365393') no-repeat left center;
}
