@font-face {
  font-family: 'Intro';
  src: url("fonts/intro-webfont.eot");
  src: url("fonts/intro-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/intro-webfont.svg#intro_regular") format("svg"), url("fonts/intro-webfont.ttf") format("truetype"), url("fonts/intro-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url("fonts/OpenSans-CondBold-webfont.eot");
  src: url("fonts/OpenSans-CondBold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-CondBold-webfont.svg#open_sans_condensedbold") format("svg"), url("fonts/OpenSans-CondBold-webfont.ttf") format("truetype"), url("fonts/OpenSans-CondBold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 17, ../sass/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../sass/partials/_reset.scss */
body {
  line-height: 1;
}

/* line 33, ../sass/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 36, ../sass/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 48, ../sass/partials/_reset.scss */
button {
  background-color: transparent;
  border: 0;
  outline: 0;
  margin: 0px;
  padding: 0px;
}

/* line 4, ../sass/partials/_general.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 7, ../sass/partials/_general.scss */
body {
  background: #1c1c1c url('../img/pat/header-pat.png?1395827085');
}

/* line 4, ../sass/partials/_typography.scss */
html {
  font-size: 62.5%;
}

/* line 7, ../sass/partials/_typography.scss */
body {
  font-size: 16px;
  font-size: 1.6rem;
  color: #1c1c1c;
}

/* line 13, ../sass/partials/_typography.scss */
.main_header {
  color: #f8f8f8;
}

/* line 16, ../sass/partials/_typography.scss */
.main_heading {
  font-size: 42px;
  font-size: 4.2rem;
  font-family: "Intro", "Arial", sans-serif;
  text-transform: capitalize;
}
/* line 20, ../sass/partials/_typography.scss */
.main_heading h1 {
  font-size: 98px;
  font-size: 9.8rem;
}

/* line 24, ../sass/partials/_typography.scss */
.hello {
  font-size: 72px;
  font-size: 7.2rem;
}

/* line 27, ../sass/partials/_typography.scss */
.punctuation {
  font-size: 72px;
  font-size: 7.2rem;
  color: #c44c7c;
}

/* line 36, ../sass/partials/_typography.scss */
.type_of_work h2, .type_of_work h3 {
  font-family: "Intro", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 32px;
  font-size: 3.2rem;
  letter-spacing: -1px;
  color: #f8f8f8;
  text-shadow: 0px 0px 0px;
}

/* line 45, ../sass/partials/_typography.scss */
.type_of_work h2:hover {
  cursor: pointer;
}

/* line 48, ../sass/partials/_typography.scss */
.logo_container h3 {
  font-family: "Open Sans Condensed" , sans-serif;
  font-size: 20px;
  font-size: 2rem;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #c2c2c2;
}

/* line 8, ../sass/partials/_layout.scss */
.main_header, .head_container {
  width: 100%;
  height: 100%;
}

/* line 11, ../sass/partials/_layout.scss */
.main_header {
  display: table;
}

/* line 14, ../sass/partials/_layout.scss */
.head_container {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 5% 1% 0% 1%;
}

/* line 21, ../sass/partials/_layout.scss */
.main-logo {
  margin-bottom: 48px;
  margin-bottom: 4.8rem;
  display: inline-block;
}

/* line 26, ../sass/partials/_layout.scss */
.main_heading h1 {
  padding-top: 24px;
  padding-top: 2.4rem;
  padding-bottom: 80px;
  padding-bottom: 8rem;
}

/* line 31, ../sass/partials/_layout.scss */
.profession {
  padding-bottom: 34px;
  padding-bottom: 3.4rem;
  display: inline-block;
}

/* line 35, ../sass/partials/_layout.scss */
.work_btn {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -10px;
}

/* line 45, ../sass/partials/_layout.scss */
.main_content {
  width: 100%;
  background-color: #f8f8f8;
}

/* line 50, ../sass/partials/_layout.scss */
.type_of_work {
  text-align: center;
}

/* line 53, ../sass/partials/_layout.scss */
.type_of_work h2 {
  padding: 20px 0px 20px 0px;
  background-color: #c44c7c;
  /* transition */
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* line 59, ../sass/partials/_layout.scss */
.type_of_work h2:hover {
  background-color: #1c1c1c;
}

/* line 64, ../sass/partials/_layout.scss */
.work_container {
  padding: 60px 0px 120px 0px;
}

/* line 67, ../sass/partials/_layout.scss */
.desktop_slider {
  width: 741px;
  height: 466px;
  padding: 33px 33px 149px 33px;
  margin: 0 auto;
  background: transparent url('../img/desktop.png?1397376096') no-repeat center center;
  position: relative;
}

/* line 77, ../sass/partials/_layout.scss */
.web_link {
  display: block;
  position: absolute;
  top: 33px;
  right: 33px;
  opacity: 0.5;
  z-index: 1;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 85, ../sass/partials/_layout.scss */
.web_link:hover {
  opacity: 1;
}

/* line 89, ../sass/partials/_layout.scss */
.slick_slider {
  width: 100%;
  height: 100%;
  cursor: all-scroll;
}
/* line 93, ../sass/partials/_layout.scss */
.slick_slider div {
  width: 100%;
  height: 100%;
  display: none;
}
/* line 98, ../sass/partials/_layout.scss */
.slick_slider div:first-child {
  display: block;
}

/* line 103, ../sass/partials/_layout.scss */
.slick-list.dragging {
  cursor: all-scroll;
}

/* line 107, ../sass/partials/_layout.scss */
.web_container button.slick-prev, .web_container button.slick-next {
  height: 100%;
  width: 30px;
  top: 10px;
}
/* line 111, ../sass/partials/_layout.scss */
.web_container button.slick-prev:before, .web_container button.slick-next:before {
  content: '';
  display: block;
  -webkit-transition: border-color 0.1s ease;
  -moz-transition: border-color 0.1s ease;
  -ms-transition: border-color 0.1s ease;
  -o-transition: border-color 0.1s ease;
  transition: border-color 0.1s ease;
}

/* line 118, ../sass/partials/_layout.scss */
.web_container button.slick-prev:before {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid white;
  margin-right: 20px;
}
/* line 123, ../sass/partials/_layout.scss */
.web_container button.slick-prev:hover:before {
  border-right: 6px solid #c44c7c;
}

/* line 129, ../sass/partials/_layout.scss */
.web_container button.slick-next:before {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid white;
  margin-left: 20px;
}
/* line 134, ../sass/partials/_layout.scss */
.web_container button.slick-next:hover:before {
  border-left: 6px solid #c44c7c;
}

/* line 141, ../sass/partials/_layout.scss */
.pad, .phone {
  position: absolute;
  bottom: -15px;
  overflow: hidden;
}
/* line 145, ../sass/partials/_layout.scss */
.pad img, .phone img {
  vertical-align: bottom;
}

/* line 149, ../sass/partials/_layout.scss */
.phone {
  width: 154px;
  height: 236px;
  padding: 30px 13px 29px 13px;
  background: transparent url('../img/phone.png?1397376096') no-repeat;
  left: -40px;
}

/* line 156, ../sass/partials/_layout.scss */
.pad {
  width: 401px;
  height: 295px;
  padding: 31px 31px 31px 30px;
  background: transparent url('../img/pad.png?1397376096') no-repeat;
  right: -60px;
}

/* line 169, ../sass/partials/_layout.scss */
.logo_slider {
  width: 753px;
  height: 379px;
  margin: 0 auto;
}
/* line 174, ../sass/partials/_layout.scss */
.logo_slider .slick_slider {
  background-color: #fff;
  margin-bottom: 0px;
}
/* line 177, ../sass/partials/_layout.scss */
.logo_slider .slick_slider div {
  text-align: center;
  padding-top: 20px;
}
/* line 180, ../sass/partials/_layout.scss */
.logo_slider .slick_slider div img {
  display: inline-block;
  vertical-align: middle;
}

/* line 187, ../sass/partials/_layout.scss */
.logo_container button.slick-prev, .logo_container button.slick-next {
  height: 100%;
  width: 30px;
  top: 10px;
}
/* line 191, ../sass/partials/_layout.scss */
.logo_container button.slick-prev:before, .logo_container button.slick-next:before {
  content: '';
  display: block;
  -webkit-transition: border-color 0.1s ease;
  -moz-transition: border-color 0.1s ease;
  -ms-transition: border-color 0.1s ease;
  -o-transition: border-color 0.1s ease;
  transition: border-color 0.1s ease;
}

/* line 198, ../sass/partials/_layout.scss */
.logo_container button.slick-prev:before {
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-right: 18px solid #1c1c1c;
  margin-right: 6px;
}
/* line 203, ../sass/partials/_layout.scss */
.logo_container button.slick-prev:hover:before {
  border-right: 18px solid #c44c7c;
}

/* line 209, ../sass/partials/_layout.scss */
.logo_container button.slick-next:before {
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 18px solid #1c1c1c;
  margin-left: 6px;
}
/* line 214, ../sass/partials/_layout.scss */
.logo_container button.slick-next:hover:before {
  border-left: 18px solid #c44c7c;
}

/* line 219, ../sass/partials/_layout.scss */
.logo_container h3 {
  padding: 20px 0px 20px 0px;
  background-color: #1c1c1c;
}

/* line 227, ../sass/partials/_layout.scss */
.graphic_container {
  padding: 0;
  width: 100%;
}

/* line 231, ../sass/partials/_layout.scss */
.graphic_slider {
  width: 100%;
  height: 700px;
  margin: 0 auto;
}
/* line 235, ../sass/partials/_layout.scss */
.graphic_slider .slick_slider {
  overflow: hidden;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
/* line 239, ../sass/partials/_layout.scss */
.graphic_slider .slick_slider div {
  position: relative;
  text-align: center;
  padding: 0px 0px 0px 0px;
}
/* line 243, ../sass/partials/_layout.scss */
.graphic_slider .slick_slider div img {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 600px;
  margin: auto;
}

/* line 253, ../sass/partials/_layout.scss */
.graphic_slider button.slick-prev, .graphic_slider button.slick-next {
  height: 100%;
  width: 50px;
  top: 10px;
  background-color: #1c1c1c;
}
/* line 258, ../sass/partials/_layout.scss */
.graphic_slider button.slick-prev:before, .graphic_slider button.slick-next:before {
  content: '';
  display: block;
  opacity: 1;
  -webkit-transition: border-color 0.1s ease;
  -moz-transition: border-color 0.1s ease;
  -ms-transition: border-color 0.1s ease;
  -o-transition: border-color 0.1s ease;
  transition: border-color 0.1s ease;
}

/* line 265, ../sass/partials/_layout.scss */
.graphic_slider button.slick-prev {
  left: 0px;
}
/* line 267, ../sass/partials/_layout.scss */
.graphic_slider button.slick-prev:before {
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-right: 18px solid #f8f8f8;
  margin-right: 18px;
}
/* line 272, ../sass/partials/_layout.scss */
.graphic_slider button.slick-prev:hover:before {
  border-right: 18px solid #c44c7c;
}

/* line 277, ../sass/partials/_layout.scss */
.graphic_slider button.slick-next {
  right: 0px;
}
/* line 279, ../sass/partials/_layout.scss */
.graphic_slider button.slick-next:before {
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 18px solid #f8f8f8;
  margin-left: 18px;
}
/* line 284, ../sass/partials/_layout.scss */
.graphic_slider button.slick-next:hover:before {
  border-left: 18px solid #c44c7c;
}
