// ---------------------------------------------------------------
// THE LAYOUT AND REST OF THE STYLES
// ---------------------------------------------------------------

// HEADER STYLES
// ---------------------------------------------------------------

.main_header , .head_container {
	width: 100%; height: 100%;
}
.main_header {
	display: table;
}
.head_container {
	position:relative;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 5% 1% 0% 1%;
}
.main-logo {
	@include x-rem ( margin-bottom, 48px );
	display: inline-block;
}
.main_heading {
	h1 {
		@include x-rem ( padding-top, 24px );
		@include x-rem ( padding-bottom, 80px );
	}
}
.profession {
	@include x-rem ( padding-bottom, 34px );
	display: inline-block;
}
.work_btn {
	display:block;
	position:absolute;
	bottom:10px;
	left:50%;
	margin-left:-10px;
}
// CONTENT STYLES
// ---------------------------------------------------------------

.main_content {
	// temporary
	width: 100%;
	background-color: $header-txt-color;
}
.type_of_work {
	text-align: center;
}
.type_of_work h2{
	padding: 20px 0px 20px 0px;
	background-color: $main-color;
	/* transition */
	@include trans (all, 0.2s, ease-out);
}
.type_of_work h2:hover {
	background-color: #131313;
}
// Web Design
// ~~~~~~~~~~~~~~~~
.work_container {
	padding:60px 0px;
}
.desktop_slider {
	width: 807px -(33px+33px);
	height: 648px -(33px+149px);
	padding: 33px 33px 149px 33px;
	margin: 0 auto;
	background:transparent image-url('desktop.png') no-repeat center center;
}
// +slick slider
// ~~~~~~~~~~~~~~~~
.slick_slider {
	width: 100%;
	height: 100%;
	cursor: all-scroll;
	div {
		width: 100%;
		height: 100%;
	}
}
.slick-list.dragging {
	// Changes the default plugin pointer cursor when dragging into a scroll cursor
	cursor: all-scroll;
}
.web_container button.slick-prev , .web_container button.slick-next {

	&:before {
		content:'';
	}
}
.web_container button.slick-prev {
	@include l-arrow (10px , #fff);
	left: -33px;
}

// FOOTER STYLES
// ---------------------------------------------------------------/