// ---------------------------------------------------------------
// THE LAYOUT AND REST OF THE STYLES
// ---------------------------------------------------------------

// HEADER STYLES
// ---------------------------------------------------------------

.main_header , .head_container {
	width: 100%; min-height: 100%;
}
.main_header {
	display: table;
}
.head_container {
	position:relative;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 5% 1% 0% 1%;
}
.main-logo {
	@include x-rem ( margin-bottom, 48px );
	display: inline-block;
}
.main_heading {
	h1 {
		@include x-rem ( padding-top, 24px );
		@include x-rem ( padding-bottom, 80px );
	}
}
.profession {
	@include x-rem ( padding-bottom, 34px );
	display: inline-block;
}
.work_btn {
	display:block;
	position:absolute;
	bottom:10px;
	left:50%;
	margin-left:-10px;
}
// CONTENT STYLES
// ---------------------------------------------------------------

.main_content {
	// temporary
	width: 100%;
	background-color: #e3e3e3;
}
.type_of_work {
	text-align: center;
}
.type_of_work h2{
	padding: 20px 0px 20px 0px;
	background-color: $body-bg-color;
}
// FOOTER STYLES
// ---------------------------------------------------------------