// Anchor mixin
// ---------------------------------------------------------------
@mixin anchor-lvha($l-color , $h-color) {
	&:link {
		color:$l-color;
	}
	&:visited {
		color:$l-color;
	}
	&:hover {
		color:$l-color;
		color:$h-color;
	}
	&:active {
		color:$l-color;
	}
}
// Text selection mixin
// ---------------------------------------------------------------
@mixin selection {
	::-moz-selection { @content; }
	::selection { @content; }
}

// Rem fallback for Internet Explorer 8 and <
// ---------------------------------------------------------------
@mixin x-rem ( $property , $pixels ) {
	#{$property}: $pixels;
	#{$property}: ( $pixels / $main-font-size ) * 1rem;
}
// CSS3 transitions mixin
// ---------------------------------------------------------------
@mixin trans ( $property , $duration , $ease) {
	-webkit-transition: $property $duration $ease;
	-moz-transition: $property $duration $ease;
	-ms-transition: $property $duration $ease;
	-o-transition: $property $duration $ease;
	transition: $property $duration $ease;
}
// CSS3 arrows mixin
// ---------------------------------------------------------------
@mixin l-arrow ( $size , $color) {
	border-top: $size solid transparent;
	border-bottom: $size solid transparent;
	border-right: $size solid $color;
}
@mixin r-arrow ( $size , $color) {
	border-top: $size solid transparent;
	border-bottom: $size solid transparent;
	border-left: $size solid $color;
}
@mixin t-arrow ( $size , $color) {
	border-left: $size solid transparent;
	border-right: $size solid transparent;
	border-bottom: $size solid $color;
}
@mixin b-arrow ( $size , $color) {
	border-left: $size solid transparent;
	border-right: $size solid transparent;
	border-top: $size solid $color;
}
// Box shadow mixin
// ---------------------------------------------------------------
@mixin box-shadow($top, $left, $blur, $color, $spread, $inset: false) {
	@if $inset {
		-webkit-box-shadow:inset $top $left $blur $spread $color;
		-moz-box-shadow:inset $top $left $blur  $spread $color;
		box-shadow:inset $top $left $blur $spread $color;
	} @else {
		-webkit-box-shadow: $top $left $blur $spread $color;
		-moz-box-shadow: $top $left $blur $spread $color;
		box-shadow: $top $left $blur $spread $color;
	}
}
// Grab Cursor
// ---------------------------------------------------------------
@mixin grab-cursor {
	cursor: -webkit-grab;
	cursor: -moz-grab;
}
@mixin grabbing-cursor {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
}