// Anchor mixin
// ---------------------------------------------------------------
@mixin anchor-lvha($l-color , $h-color) {
	&:link {
		color:$l-color;
	}
	&:visited {
		color:$l-color;
	}
	&:hover {
		color:$l-color;
		color:$h-color;
	}
	&:active {
		color:$l-color;
	}
}

// Text selection mixin
// ---------------------------------------------------------------
@mixin selection {
	::-moz-selection { @content; }
	::selection { @content; }
}

// Rem fallback for Internet Explorer 8 and <
// ---------------------------------------------------------------
@mixin x-rem ( $property , $pixels ) {
	#{$property}: $pixels;
	#{$property}: ( $pixels / $main-font-size ) * 1rem;
}
// CSS3 transitions mixin
@mixin trans ( $property , $duration , $ease) {
	-webkit-transition: $property $duration $ease;
	-moz-transition: $property $duration $ease;
	-ms-transition: $property $duration $ease;
	-o-transition: $property $duration $ease;
	transition: $property $duration $ease;
}