// MEDIA QUERIES GO IN HERE
// ---------------------------------------------------------------

// I'll use these examples or whatever
// @media all and (min-width: 1001px) {}
// @media all and (max-width: 1000px) and (min-width: 700px) {}
// @media all and (max-width: 699px) and (min-width: 520px), (min-width: 1151px) {}
/* HEADER */
/* CONTENT */
/* FOOTER */
@media all and ( max-width: 1280px ) {
// ------------------------------------------------------
/* HEADER */
.head_container {
	padding: 10% 5% ;
}
/* CONTENT */
/* FOOTER */
.footer_container {
	padding: 5% 5%;
	width: 90%;
}
.footer_about {
	width: 100%;
	clear: both;
	margin-bottom: 50px;
}
// about
.about_heading_container {
	width: 30%;
	float: left;
	margin-top: 7px;
	margin-right: 2%;
	text-align: left;
	img {
		display: block;
		// margin: 0 auto;
	}
}
.about_heading_paragraphs {
	width: 68%;
	float: left;
}
// skillz
.footer_skills {
	width: 59%;
	float: left;
	display: block;
	text-align: left;
	margin: 0;
	margin-right: 1%;
}
.skill_list {
	padding: 0;
	margin: 0;
	li {
		padding-left: 48px;
		margin: 0;
		margin-right: 10%;
		margin-bottom: 5%;
	}
}
// contact
.footer_contact {
	width: 40%;
	float: left;
	display: block;
	margin: 0;
}
// ------------------------------------------------------
}
@media all and ( max-width: 1165px ) {
// ------------------------------------------------------
/* FOOTER */
// skillz
.footer_skills {
	width: 39%;
}
// contact
.footer_contact {
	width: 60%;
}
// ------------------------------------------------------
}
@media all and ( max-width: 1030px ) {
// ------------------------------------------------------
// skillz
.footer_skills {
	width: 49%;
	li {
		margin-right: 2%;
	}
}
// contact
.footer_contact {
	width: 50%;
	float: right;
}
// ------------------------------------------------------
}
@media all and ( max-width: 930px ) {
// ------------------------------------------------------
// CONTENT

// web design
.phone {
	left: 40px;
}
.pad {
	right: 40px;
}
// logo design

// misc design

// ------------------------------------------------------
}
@media all and ( max-width: 850px ) {
// ------------------------------------------------------
/* HEADER */
.main_heading {
	@include x-rem ( font-size, 31px );
	h1 {
		@include x-rem ( font-size, 72px );
	}
}
.hello {
	@include x-rem ( font-size, 53px );
}
.punctuation {
	@include x-rem ( font-size, 53px );
}
/* CONTENT */

/* FOOTER */

// about
.footer_about {
	margin-bottom: 70px;
}
// skills
.footer_skills {
	text-align: left;
	width: 100%;
	float: none;
	margin-bottom: 70px;
	.skill_list {
		text-align: left;
	}
	li {
		margin-right: 5%;
		margin-left: 0;
	}
}
.current_skills {
	margin-bottom: 10px;
}
// contact
.footer_contact {
	width: 100%;
	float: none;
}
.social_contact {
	li {
		width: 10%;
	}
}
// ------------------------------------------------------
}
@media all and ( max-width: 795px ) {
// ------------------------------------------------------
// HEADER

// CONTENT

// adding the plus symbols
.type_of_work h2 {
	position: relative;
	cursor: pointer;
	border-top: 1px solid $main-color-light;
	border-bottom: 1px solid $main-color-dark;
	&:before {
		content: "-";
		background-color: none;
		position: absolute;
		top: 22px;
		left: 22px;
	}
}
.type_of_work h2.plus {
	&:before {
		content: "+";
	}
}		
.minus {
	.work_container {
		overflow: hidden;
		height: 0px;
		padding: 0px;
	}
}
.work_container {
	padding: 0;
}
// web
.desktop_slider {
	background: none;
	width: 100%;
	padding: 0;
	height: 100%;
	.slick_slider {
		overflow: hidden;
		height: 100%;
		margin-bottom: 0;
		img {
			width: 100%;
			height: auto;

		}
	}
}
.slide_links {
	width: 100%;
	top: 0px;
}
.slide_info {
	width: auto;
}
.phone , .pad {
	display: none !important;
}


// logo
.logo_container {
	overflow: hidden;
}
.logo_slider {
width: 100%;
height: auto;

	.slick_slider div {
		padding-top: 0.5%;
		padding-bottom: 0.5%;
	}
	img {
		width: 30%;
	}
}
// misc
.graphic_slider {
	button.slick-next , button.slick-prev{
		display: none !important;
	}
}
.graphic_slider {
	height: 300px;
	.slick_slider {
		div {
			img {
				width: auto;
				height: 100%;
			}
		}
	}
}
// about
.footer_about {
	img {
		float: left;
		margin-right: 10px;
		width: 100px;
		height: auto;
	}
}
.about_heading_container {
	float: none;
	width: 100%;
}
.about_heading_paragraphs {
	float: none;
	width: 100%;
}
// ------------------------------------------------------
}
@media all and ( max-width: 350px ) {
// ------------------------------------------------------
/* HEADER */
.profession {
	width: 80%;
}
/* CONTENT */
.type_of_work {
	h2 {
		padding: 14px 0px 14px 0px;
		@include x-rem ( font-size, 24px );	
	}
}
.slide_info {
	height: 93px;
	@include x-rem ( font-size, 12px );
}
.logo_container h3 {
	padding: 20px 0px 20px 0px;
	span {
		top: 16px;
		@include x-rem ( font-size, 12px );
	}
}
.bottom_divider {
	height: 40px;
	h3 {
		@include x-rem ( font-size, 12px);
		line-height: 40px;
	}
}
/* FOOTER */
.footer_section {
	h2 {
		text-align: center;
	}
}
// skillz
.footer_skills {
	.skill_list {
			text-align: center;
	}
}
.social_contact {
	li {
		min-width: 50px;
	}
}
/* CONTENT */
/* FOOTER */
// ------------------------------------------------------
}