// ---------------------------------------------------------------
// THE TYPOGRAPHY STYLES
// ---------------------------------------------------------------
html {
	font-size:62.5%; //makes the base 10px
}
body {
	@include x-rem ( font-size,16px );
	color: $body-bg-color;
}
// HEADER STYLES
// ---------------------------------------------------------------
.main_header {
	color: $header-txt-color;
}
.main_heading {
	@include x-rem ( font-size, 42px );
	font-family: $heading-type;
	text-transform: capitalize;
	h1 {
		@include x-rem ( font-size, 98px );
	}
}
.hello {
	@include x-rem ( font-size, 72px );
}
.punctuation {
	@include x-rem ( font-size, 72px );
	color: $main-color;
}
// CONTENT STYLES
// ---------------------------------------------------------------
.web_link {
	color: $header-txt-color;
	text-decoration: none;
	text-transform: uppercase;
	font-family: $logo-type;
	letter-spacing: 1px;
	line-height: 37px;
	@include x-rem ( font-size, 16px );
}
.type_of_work h2 , .type_of_work h3{
	font-family: $heading-type;
	// font-family: "Open Sans" , Arial , sans-serif;
	text-transform: uppercase;
	@include x-rem ( font-size, 32px );
	letter-spacing: -1px;
	color: $header-txt-color;
	text-shadow: 0px 0px 0px;
}
.logo_container h3 , .bottom_divider h3{
	font-family: "Open Sans Condensed" , sans-serif;
	@include x-rem ( font-size, 20px );
	letter-spacing: 2px;
	text-transform: capitalize;
	color: $header-txt-color;
}
.bottom_divider h3 {
	line-height: 71px;
}
// FOOTER STYLES
// ---------------------------------------------------------------
.main_footer {
	color: $header-txt-color;
}
.footer_section {
	h2 {
		@include x-rem ( font-size, 32px );
		font-family: $heading-type;
	}
}
// about
.footer_about {
	p {
		opacity: 0.6;
		@include x-rem ( font-size, 16px );
		font-family: $footer-type;
		line-height: 34px;
		text-align:justify;
		text-justify:inter-word;
		font-weight: normal;
	}
}
// skills
.skill_list {
	text-align: left;
	padding: 0px 6% 0px 6%;
	li {
		line-height: 48px;
		@include x-rem ( font-size, 14px );
		font-family: $heading-type;
	}
}
.current_skills {
	margin-bottom: 35px;
}
// contact
.footer_contact {
	label {
		@include x-rem ( font-size, 14px );
		font-family: $footer-type;
		font-weight: bold;
	}
}
.form_input {
	font-family: $footer-type;
	font-weight: normal;
	@include x-rem ( font-size, 14px );
	color: $header-txt-color;
	opacity: 0.8;
}
#ySend {
	font-family: $heading-type;
	color: $header-txt-color;
	@include x-rem ( font-size, 16px );
	&:hover {
		color: $main-color;
	}
}
.focused {
	color: $main-color;
}
// error message styles
.errorMsg {
	color: $main-color;
	font-family: $logo-type;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: normal;
	text-transform: uppercase;
}