// ---------------------------------------------------------------
// THE TYPOGRAPHY STYLES
// ---------------------------------------------------------------
html {
	font-size:62.5%; //makes the base 10px
}
body {
	@include x-rem ( font-size,16px );
	color: $body-bg-color;
}
// HEADER STYLES
// ---------------------------------------------------------------
.main_header {
	color: $header-txt-color;
}
.main_heading {
	@include x-rem ( font-size, 42px );
	font-family: $heading-type;
	text-transform: capitalize;
	h1 {
		@include x-rem ( font-size, 98px );
	}
}
.hello {
	@include x-rem ( font-size, 72px );
}
.punctuation {
	@include x-rem ( font-size, 72px );
	color: $main-color;
}
// CONTENT STYLES
// ---------------------------------------------------------------
.type_of_work {

} 
.type_of_work h2 , .type_of_work h3{
	font-family: $heading-type;
	// font-family: "Open Sans" , Arial , sans-serif;
	text-transform: uppercase;
	@include x-rem ( font-size, 32px );
	letter-spacing: -1px;
	color: $header-txt-color;
	text-shadow: 0px 0px 0px;
}
.type_of_work h2:hover {
	cursor: pointer;
}
.logo_container h3 {
	font-family: "Open Sans Condensed" , sans-serif;
	@include x-rem ( font-size, 20px );
	letter-spacing: 2px;
	text-transform: capitalize;
	color: $header-txt-color;
}
// FOOTER STYLES
// ---------------------------------------------------------------