// ---------------------------------------------------------------
// TYPOGRAPHY VARIABLES
// ---------------------------------------------------------------

// Font Families
// ---------------------------------------------------------------
$heading-type: "Intro" , "Arial" , sans-serif;

//FONT SIZE CALCULATIONS VARIABLES
// ---------------------------------------------------------------
$main-font-size: 10px;

// COLOR VARIABLES
// ---------------------------------------------------------------
$body-bg-color: #131313;
$header-txt-color: #f8f8f8;
$main-color: #a0507e;