// ---------------------------------------------------------------
// TYPOGRAPHY VARIABLES
// ---------------------------------------------------------------

// Font Families
// ---------------------------------------------------------------
$heading-type: "Intro" , "Arial" , sans-serif;
$logo-type: "Open Sans Condensed" , sans-serif;
$footer-type: "Open Sans" , sans-serif;

//FONT SIZE CALCULATIONS VARIABLES
// ---------------------------------------------------------------
$main-font-size: 10px;

// COLOR VARIABLES
// ---------------------------------------------------------------
$body-bg-color: #1c1c1c;
$header-txt-color: #f8f8f8;
$main-color: #c44c7c;
$form-border-color: #4e4e4e;