// ---------------------------------------------------------------
// THE WEB FONTS
// ---------------------------------------------------------------

// Intro, regular
@font-face {
    font-family: 'Intro';
    src: url('fonts/intro-webfont.eot');
    src: url('fonts/intro-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/intro-webfont.svg#intro_regular') format('svg'),
         url('fonts/intro-webfont.ttf') format('truetype'),
         url('fonts/intro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
// Open Sans Condensed , bold
@font-face {
    font-family: 'Open Sans Condensed';
    src: url('fonts/OpenSans-CondBold-webfont.eot');
    src: url('fonts/OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-CondBold-webfont.svg#open_sans_condensedbold') format('svg'),
         url('fonts/OpenSans-CondBold-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-CondBold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
// Open Sans , regular
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
// Open Sans, light
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Light-webfont.eot');
    src: url('fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg'),
         url('fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Light-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}